/* No CSS Reset with Bootstrap */
/*These initial styles come from here: http://getbootstrap.com/examples/starter-template/starter-template.css*/

/*** {
  border: 1px solid red;
}**/

body {
  padding-top: 50px;
  font-size: 12px;
  background-color: #f2f2f2;
}

div {
  /*border: 1px solid red;*/
}

.navbar-brand {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 1.6rem;
  color: white !important;
}

.navbar-nav {
  float: right;
  font-family: 'Roboto', sans-serif;
}

.topsection {
  margin: 0px;
  padding: 0px;
  position: relative;
  /*background-color: #d3d3d3;*/
  background-color: #8c1d1d;
}

.topsection h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 4.2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  text-align: center;
  margin-top: 100px;
}

.byline {
  font-family: 'Merriweather', serif;
  font-size: 2.4rem;
  font-weight: 400;
  color: #dbd9d9;
  margin: 15px 0px 100px 0px;
  font-style: italic;
  text-align: center;
}

.lead {
  font-size: 1.75rem;
  padding: 50px 30px 0px 30px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.graphiccontainer {
  margin: 0px;
  padding: 50px 20px 50px 20px;
  border-bottom: 1px solid #d3d3d3;
}

.whitebox {
  border: 1px solid #d3d3d3;
  border-radius: 3px;
  background-color: white;
  padding-right: 0px;
}

.textblock {
  padding: 0px;
  background-color: white;
}

.graphictitle h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.8rem;
  font-weight: 700;
  margin: 0;
  padding: 30px 0 10px 0;
  color: #8c1d1d;
}

.graphictext {
  font-family: 'Roboto', sans-serif;
  margin: 15px 0px 0px 0px;
  font-size: 1.5rem;
}

.graphicblock {
  padding: 0px;
  border-left: 1px solid #d3d3d3;
}

.graph {
  padding: 20px;
}

.graphiccontent {
  padding: 0px;
}

/*middle 'How Germany Won' section*/
.graphiccontainer-middle {
  margin: 0px;
  padding: 50px 20px 50px 20px;
  border-bottom: 1px solid #d3d3d3;
  background-color: #e5dcc5;
}

.textblock-middle {
  padding: 0px;
  text-align: center;
}

.graphicblock-middle {
  padding: 0px;
}

.graphictitle-middle h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.8rem;
  font-weight: 700;
  margin: 0;
  padding: 0px 0px 10px 0px;
  color: #8c1d1d;
}

.graphictext-middle {
  font-family: 'Roboto', sans-serif;
  margin: 15px 0px 15px 0px;
  font-size: 1.5rem;
}

.factwrap {
  padding: 10px;
}

.factbox {
  background-color: white;
  border-radius: 3px;
  border: 1px solid #d3d3d3;
  padding: 0px;
  min-height: 200px;
}

.topbar {
  background-color: #ccad5f;
  height: 30px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: white;
  padding-top: 5px;
}

.facttext {
  margin: 15px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

/*both maps*/
#stadium-map, #world-map {
  width: 100%;
  border: none;
  margin-bottom: 0px;
}

/*elimination map*/
.legend {
  width: 200px;
  height: 200px;
  border: 1px solid #aaa;
  position: absolute;
  z-index: 1;
  bottom: 10px;
  left: 20px;
  background-color: #eee;
  font-family: 'Roboto';
  color: white;
}

.legend h4 {
  padding-left: 10px;
  color: #000;
}

.legend-name {
  padding-left: 10px;
  font-size: 12px;
  border: 1px solid #ccc;
  margin: 0px 10px 2px 10px;
}

.champions {
  background-color: #8c1d1d;
}

.finals {
  background-color: #dd725b;
}

.semifinals {
  background-color: #dd8b5b;
}

.quarterfinals {
  background-color: #ddb45c;
}

.round16 {
  background-color: #ddca5d;
}

.round32 {
  background-color: #cec68c;
}

.notthere {
  background-color: #f3f3f3;
  color: #000;
}

#show {
  display: none;
}

#showteams {
  display: none;
}

#winlosschart {
  height: 800px;
}

#facts {
  font-family: 'Merriweather', serif;
  font-size: 1.5rem;
}

#facts li {
  margin-bottom: 10px;
}

@media only screen and (max-width: 767px) {
  .textblock {
    margin: 0px;
    padding: 20px;
  }
  .graphicblock {
    border-left: 0px;
    padding: 20px;
  }
  .topsection {
    height: 300px;
  }
  .topsection h1 {
    font-size: 3.8rem;
  }
  #hero {
    display: none;
  }
  .factbox {
    min-height: 0px;
  }
}
