/*styles for my resume*/

* {
  box-sizing: border-box;
}
/*added box-sizing property to all*/

body {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 12px;
  color: #444;
  margin: 0;
  padding: 0;
}
/*added margin and padding*/

h1, h2, h4, h5, p, li, div {
  font-weight: 300;
}
/*added div to this list*/

/*my name*/
#name {
  font-size: 4em;
  text-align: center;
  border-bottom: 1px solid #FDB020;
  margin: 5px auto;
  width: 60%;
  min-width: 300px;
}
/*changed h1 to div, added border, margin, width*/

/*section titles*/
.sectionheader {
  font-size: 2em;
  text-transform: uppercase;
  background-color: #d1d1d1;
  color: rgba(255, 255, 255, 1);
  margin: 7px 0px 10px 0px;
  text-align: center;
  width: 30%;
  min-width: 150px;
  border-bottom: 1px solid rgba(253,176,32,0.4);
  float: left;
}
/*changed h2 to div, added margin, text-align, width, border*/
/*added top margin, float; border-bottom hex to rgba*/

/*job titles*/
.jobtitle {
  font-weight: 600;
  font-size: 1.5em;
}
/*changed h3 to div*/

/*job organizations*/
.organization {
  font-size: 1.1em;
}
/*changed h4 to div*/

/*job dates*/
.date {
  font-style: italic;
  margin: 2px 0px 0px 0px;
}
/*changed h5 to div, added margin*/

.description {
  margin: 10px 0px 0px 0px;
}
/*added description class to p tags, added margin*/

/*contact info, skills, education*/
ul {
  font-size: 1.1em;
}

.menu {
  margin: 0px;
  padding: 0px;
  text-align: center;
}
/*added margin, padding, text-align to contact info list*/

.menuitems {
  display: inline;
}
/*styled contact info items*/

.menu a {
  color: #444;
  text-decoration: none;
}

#degrees {
  margin: 5px 0px 0px 0px;
}
/*added margin to education list*/

#do {
  margin: 5px 0px 0px 0px;
}
/*added margin to skills list*/

.job {
  margin: 0px 0px 20px 0px;
}
/*added margin to container for each job*/

#experience {
  margin: 0px 0px 20px 0px;
}
/*added margin to experience container*/

#education {
  margin: 0px 0px 20px 0px;
}
/*added margin to education container*/

#skills {
  margin: 0px 0px 20px 0px;
}
/*added margin to skills container*/

#top {
  margin: 0px 0px 35px 0px;
  padding: 0px 0px 10px 0px;
  background-color: #FFF;
  width: 100%;
  position: fixed;
  z-index: 1;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
}
/*added padding, background-color, width, position, z-index, box-shadow*/

#bottom {
  margin: 0px auto 0px auto;
  position: relative;
  top: 120px;
  width: 95%;
  height: auto;
  overflow: auto;
}
/*added auto margin, position, top, width, height, overflow*/

.alljobs {
  width: 65%;
  float: left;
  margin-left: 4%;
  border-left: 1px solid rgba(253,176,32,0.3);
  padding-left: 20px;
}
/*added alljobs section with width, float, margin-left, border-left, padding-left*/

#experience, #education, #skills {
  margin: 0px auto 20px auto;
  padding: 10px;
  width: 90%;
  height: auto;
  overflow: auto;
  border: 1px solid #F2F2F2;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
/*added styles for all three sections*/

#degrees, #do {
  margin-left: 4%;
  width: 65%;
  float: left;
  list-style: none;
  -webkit-padding-start: 21px;
  border-left: 1px solid rgba(253,176,32,0.3);
}

#degrees li, #do li {
  margin-bottom: 3px;
}

/*hello, media queries*/

/*extra small devices, phones*/
@media only screen and (max-width: 767px) {
  #top {
    position: relative;
    margin-bottom: 15px;
  }
  #bottom {
    top: 0px;
  }
  #name {
    font-size: 3em;
  }
  .alljobs {
    width: 100%;
    margin: 0px;
    border-left: 0px;
    padding: 10px;
  }
  .sectionheader {
    margin: 10px auto 15px auto;
    padding: 5px 10px 5px 10px;
    width: 97%;
    min-width: 0px;
    float: none;
  }
  #degrees, #do {
    margin: 15px 2% 0px 2%;
    padding: 0px 20px 0px 20px;
    width: 100%;
    float: none;
    -webkit-padding-start: 0px;
    border-left: 0px;
  }
}

/*small devices, tablets*/
@media only screen and (min-width: 768px) and (max-width: 991px){
  #name {
    font-size: 3.6em;
  }
}

/*medium devices, desktops*/
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  #name {
    font-size: 3.9em;
  }
}

/*large devices, desktops*/
@media only screen and (min-width: 1200px) {
  #experience {
    width: 60%;
    float: right;
  }
  #education, #skills {
    width: 38.5%;
    float: left;
    overflow-x: hidden;
  }
  #degrees, #do {
    margin: 15px 2px 0px 2px;
    width: 100%;
    float: none;
    -webkit-padding-start: 0px;
    border-left: 0px;
  }
  .sectionheader {
    margin: 7px auto 15px auto;
    padding: 5px 10px 5px 10px;
    width: 97%;
    min-width: 0px;
    float: none;
  }
  .alljobs {
    width: 100%;
    float: none;
    margin: 0px;
    border-left: 0px;
    padding: 0px 10px 10px 10px;
  }
}
