/* No CSS Reset with Bootstrap */
/*These initial styles come from here: http://getbootstrap.com/examples/starter-template/starter-template.css*/

body {
  padding-top: 100px;
  font-size: 16px;
  background-color: #f9f9f9;
  position: relative;
}

#top-strip {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 40px;
  background-color: #2d2d2d;
  top: -100px;
  padding: 10px;
}

#page-tag {
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
  font-size: .9em;
  font-weight: 400;
  color: #e9e9e9 !important;
  letter-spacing: .1em;
  text-align: center;
}

/**nav bar**/
.navbar {
  width: 100%;
  height: 50px;
  background-color: #e9e9e9;
  font-family: 'PT Sans', sans-serif;
  font-size: .9em;
  border-bottom: 1px solid #dbdbdb;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 0px;
  z-index: 100;
}

.navbar-collapse {
  position: relative;
}

.center-me {
  position: relative;
  left: 25%;
}

.icon-bar {
  background-color: #2d2d2d;
}

li a {
  color: #2d2d2d !important;
}

.active {
  background-color: #dbdbdb;
}

.second-nav-fixed {
  position: fixed !important;
}

/**hero styles**/
#hero-container {
  position: relative;
  width: 100%;
}

#hero {
  width: 100%;
  position: relative;
  margin: -100px 0px 0px 0px;
}

#hero-title {
  position: absolute;
  z-index: 1;
  top: 20px;
  margin-left: 20%;
  width: 400px;
  padding: 35px 0px 35px 0px;
  border-top: 2px solid #7cc0c9;
  border-bottom: 2px solid #7cc0c9;
}

#headline {
  font-family: 'PT Serif', serif;
  font-size: 3.5em;
  color: #2d2d2d;
  margin-bottom: 15px;
}

#subhead {
  font-family: 'PT Sans', sans-serif;
  font-size: 1.7em;
  color: #2d2d2d;
}

/**photo caption**/
#photo-caption {
  position: absolute;
  float: right;
  bottom: 20px;
  right: 30px;
  font-family: 'PT Sans', sans-serif;
  font-size: .8em;
  color: #e9e9e9;
  text-align: right;
  max-width: 400px;
}

/**byline**/
#story-top {
  margin-top: 75px;
  margin-bottom: 25px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e9e9e9;
}

#byline {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 0px;
}

#CNS {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  text-transform: none;
}

#share-story {
  color: red;
  text-align: right;
}

.icon {
  color: #7cc0c9;
  margin-left: 15px;
}

/**body text and charts**/
.chart-container {
  margin: 50px auto 50px auto;
  max-width: 1000px;
}

.chart-column {
  background-color: white;
  padding-bottom: 10px;
}

.chart-title {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  margin: 25px 20px 10px 20px;
}

.chart-subtitle {
  font-family: 'PT Sans', sans-serif;
  font-size: .8em;
  color: #686868;
  margin-bottom: 10px;
  text-align: center;
}

.chart-description {
  font-family: 'PT Sans', sans-serif;
  margin: 10px 20px 40px 20px;
}

.text-container p {
  font-family: 'PT Serif';
  font-size: 1.1em;
  margin-bottom: 20px;
  line-height: 1.5em;
}

.section {
  font-family: 'PT Sans', sans-serif;
  font-size: 1.1em;
  font-weight: 700;
}

/*adding new chart styles to accommodate d3*/
.chart-sub, .chart-text, .chart-source, .aca-button, #chart-one, #chart-two {
  margin-left: 20px;
  font-family: 'PT Sans', sans-serif;
}

.chart-sub {
  font-size: 1em;
  font-weight: 700;
}

.chart-text {
  font-weight: 400;
}

.chart-source {
  font-size: .8em;
}

/**keeps first chart from disappearing**/
#chart-ne {
  display: none;
}

/**adjusting margins for chart 4**/
#chart-four {
  margin: 15px;
}

/**legend for chart 4**/
#legend {
  width: 190px;
  height: 165px;
  background-color: #fcfcfc;
  position: absolute;
  z-index: 1;
  bottom: 120px;
  left: 50px;
  border: 1px solid #e9e9e9;
  border-radius: 3px;
}

#legend-title {
  font-family: 'PT Sans', sans-serif;
  font-size: .8em;
  font-weight: 700;
  margin: 8px;
}

.legend-item {
  margin: 10px;
}

.color-block-one, .color-block-two, .color-block-three, .color-block-four, .color-block-five {
  width: 15px;
  height: 15px;
  position: relative;
  float: left;
  border-radius: 50%;
  behavior: url(PIE.htc);
}

.color-block-one {
  background-color: #376c72;
}

.color-block-two {
  background-color: #5898a0;
}

.color-block-three {
  background-color: #7cc0c9;
}

.color-block-four {
  background-color: #97d1d8;
}

.color-block-five {
  background-color: #c0e6ea;
}

.color-title {
  font-family: 'PT Sans',sans-serif;
  font-size: .8em;
  margin-left: 20px;
  margin-top: -3px;
}

/**chart four and five header**/
.chart-header {
  margin: 0px auto 10px auto;
  font-family: 'PT sans', sans-serif;
  font-size: 1.2em;
  text-align: center;
}

/**chart five styles**/
/**div holding chart canvas**/
#chart-five {
  margin: 20px;
}

/**actual canvas containing chart**/
#chartfive {
  min-height: 400px;
}

/**chart five dropdown inside header**/
select {
  margin: 0px 10px 0px 10px;
  height: 30px;
  font-family: 'PT Sans', sans-serif;
  border: 0px;
  outline: 1px solid #e9e9e9;
  outline-offset:-1px
  border-bottom: 1px solid red;
}

select option {
  font-family: 'PT Sans', sans-serif;
}

/*footer styles*/
#footer {
  background-color: #e9e9e9;
  padding: 20px 0 20px 0;
  margin-top: 50px;
}

#footer .row {
  margin: auto;
}

#copyright {
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
  font-size: .8em;
  text-align: center;
  color: #2d2d2d;
}

/**medium screen size**/
@media only screen and (max-width: 1199px) and (min-width: 992px) {
  #hero-title {
    top: 0px;
  }
  #headline {
    font-size: 2.5em;
  }
  #subhead {
    font-size: 1.5em;
  }
  .center-me {
    left: 20%;
  }
}

/**small screen size**/
@media only screen and (max-width: 991px) and (min-width: 768px) {
  #hero-title {
    margin-left: 10%;
    top: -50px;
  }
  #headline {
    font-size: 1.8em;
  }
  #subhead {
    font-size: 1.4em;
  }
  .center-me {
    left: 10%;
  }
}

/**xs screen size**/
@media only screen and (max-width: 767px) {
  .navbar-brand {
    font-size: .7em;
  }
  #byline {
    margin-top: 50px;
    font-size: .8em;
  }
  #hero-container {
    margin: -100px 0px 0px 0px;
    padding-bottom: 55px;
    background-color: #e9e9e9;
    border-bottom: 2px solid #7cc0c9;
  }
  #hero {
    display: none;
  }
  #hero-title {
    width: 90%;
    margin-left: 5%;
    top: 25px;
    padding: 25px;
    position: relative;
    border: none;
    text-align: center;
  }
  #headline {
    font-size: 1.6em;
    margin-bottom: 10px;
  }
  #subhead {
    font-size: 1.2em;
  }
  #photo-caption {
    display: none;
  }
  .navbar {
    display: none;
  }
  .text-container p {
    font-size: 1em;
  }
  .chart-container {
    margin: 30px 0px 30px 0px;
  }
  .chart-column {
    padding-top: 10px;
  }
  .chart-title {
    font-size: 1em;
  }
  .chart-description {
    font-size: 1em;
  }
  #chart-five-header {
    text-align: left;
    font-size: 1em;
    margin-left: 25px;
  }
}
