/* No CSS Reset with Bootstrap */
/*These initial styles come from here: http://getbootstrap.com/examples/starter-template/starter-template.css*/


/*setting font size, padding and background color for all*/
body {
  padding-top: 100px;
  font-size: 16px;
  background-color: #f9f9f9;
}

/*readjusting nav bar styles*/
.navbar {
  background-color: #191c26;
}

.navbar-brand {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: .9em;
  font-weight: 600;
  letter-spacing: 1px;
  color: white !IMPORTANT;
}

.navbar-nav {
  position: relative;
  float: right;
  font-family: 'Montserrat', sans-serif;
  font-size: .9em;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/*container and text for page top*/
#page-top {
  border-bottom: 1px solid #917e51;
  border-top: 1px solid #917e51;
  margin-top: -50px;
  padding: 80px 15px 80px 15px;
  background-color: #efeee6;
}

#page-title {
  font-family: 'Bellefair', serif;
  font-size: 3.8em;
  text-align: center;
  margin-bottom: 20px;
  line-height: 1.2em;
  color: #917e51;
}

#page-byline {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: .9em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #191c26;
}

#page-description {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6em;
  text-align: center;
  color: #191c26;
}

/*container and text for each chart*/
.graphic-element {
  margin: 65px 0px 75px 0px;
}

.graphic-title {
  font-family: 'Bellefair', serif;
  font-size: 2.2em;
  color: #917e51;
  margin-bottom: 20px;
  margin-top: 30px;
  text-align: center;
}

.graphic-description {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6em;
  margin-bottom: 35px;
  text-align: left;
}

/*international ticket sales map legend*/
.legend {
  width: 200px;
  height: 190px;
  border: 1px solid #aaa;
  position: absolute;
  z-index: 1;
  bottom: 35px;
  left: 20px;
  background-color: white;
  font-family: 'Montserrat', sans-serif;
}

.legend h4 {
  font-size: 16px;
  padding-left: 10px;
}

.legend-name {
  padding-left: 10px;
  font-size: 12px;
  border: 1px solid #ccc;
  margin: 0px 10px 2px 10px;
}

/*colors for each category on map*/
.bucket-1 {
  background-color: #605434;
  color: #eee;
}

.bucket-2 {
  background-color: #8e7b4e;
  color: #eee;
}

.bucket-3 {
  background-color: #ad9a70;
}

.bucket-4 {
  background-color: #d8c9a6;
}

.bucket-5 {
  background-color: #f7ecd4;
}

.bucket-6 {
  background-color: #fcfcfc;
}

/*map data source*/
#source {
  font-family: 'Montserrat', sans-serif;
  font-size: .8em;
}

/*footer styles*/
#footer {
  background-color: #7c8ca5;
  padding: 20px 0 20px 0;
}

#footer .row {
  margin: auto;
}

#copyright {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: .8em;
  text-align: center;
  color: white;
}

/*media queries*/
@media only screen and (max-width: 767px) {
  #page-top {
    padding: 60px 15px 60px 15px;
  }
  #page-title {
    font-size: 2.6em;
  }
  #page-description, #page-byline, .graphic-description {
    font-size: .9em;
  }
  .graphic-element {
    margin: 30px 0px 30px 0px;
  }
  .graphic-element .col-sm-10 {
    padding: 5px;
  }
  .graphic-title {
    font-size: 1.8em;
  }
  .legend {
    bottom: 70px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  #page-top {
    padding: 70px 15px 70px 15px;
  }
  #page-title {
    font-size: 3em;
  }
  #page-description, #page-byline, .graphic-description {
    font-size: .9em;
  }
  .graphic-element {
    margin: 40px 0px 40px 0px;
  }
  .graphic-title {
    font-size: 1.8em;
  }
  .container {
    width: 100%;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  #page-title {
    font-size: 3.2em;
  }
  .graphic-title {
    font-size: 2em;
  }
}
